/* NAVBAR */
.Navbar {
  width: 100%;
  padding: 18px 40px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Logo konténer */
.LogoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.NavLogo {
  height: 40px;          /* logó mérete */
  margin-right: 10px;    /* távolság a szövegtől */
}

.LogoText {
  font-size: 1.8rem;
  font-weight: bold;
  color: #E1AD01; /* mustársárga */
}

/* Jobb oldali linkek */
.NavLinks {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: nowrap;
}

.NavLinks span {
  font-size: 1rem;
  color: #009F9D; /* türkiz */
  cursor: pointer;
  white-space: nowrap;
  transition: 0.25s;
}

.NavLinks span:hover {
  color: #E1AD01; /* mustársárga */
}

/* HERO */
.Hero {
  margin: auto;
  text-align: center;
  padding: 40px;
  max-width: 800px;
}

.Hero h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #E1AD01;
  margin-bottom: 20px;
}

.Hero p {
  font-size: 1.3rem;
  color: #009F9D;
}
