/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0D0D0D;
  color: white;
}

/* Központi konténer */
.auth-container {
  width: 100%;
  max-width: 420px;
  margin: 100px auto;
  background: #111;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 0px 25px rgba(74, 222, 128, 0.2);
  border: 1px solid rgba(74, 222, 128, 0.3);
}

.auth-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
  color: #4ADE80;
}

/* Inputok */
.auth-input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid rgba(74, 222, 128, 0.4);
  background: #0D0D0D;
  color: white;
  font-size: 15px;
  transition: 0.2s;
}

.auth-input:focus {
  border-color: #4ADE80;
  box-shadow: 0px 0px 8px rgba(74, 222, 128, 0.5);
  outline: none;
}

/* Gomb */
.auth-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #4ADE80;
  color: black;
  font-size: 17px;
  font-weight: 700;
  transition: 0.2s;
}

.auth-btn:hover {
  background: #3ec76f;
  box-shadow: 0px 0px 10px rgba(74, 222, 128, 0.7);
}

/* Linkek */
.auth-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #4ADE80;
  cursor: pointer;
  display: block;
}

.auth-link:hover {
  text-decoration: underline;
}
