.auth-container {
  width: 320px;
  margin: 100px auto;
  background: #1c212a;
  padding: 25px;
  border-radius: 12px;
  color: white;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #5e9cff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
