:root{
  --bg:#0d0d0d;
  --panel:rgba(255,255,255,0.05);
  --accent:#4ade80;
  --accent2:#22c55e;
  --text:#c8ffd5;
  --border:rgba(74,222,128,0.25);
  --shadow:0 6px 24px rgba(0,0,0,0.45);
  --r-lg:18px;
  --r-xl:22px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.appLogoFixed{
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2000;
  transition: 0.25s;
}

.appLogoInline{
  cursor: pointer;
  transition: 0.25s;
}

.appLogoFixed:hover,
.appLogoInline:hover{
  filter: drop-shadow(0 0 10px rgba(74, 222, 128, 0.75));
  transform: scale(1.02);
}.appLogoFixed{
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2000;
  transition: 0.25s;
}

.appLogoInline{
  position: relative; /* kell a next/image fill-hez */
  cursor: pointer;
  transition: 0.25s;
}

.appLogoFixed,
.appLogoInline{
  display: inline-block;
}

.appLogoFixed:hover,
.appLogoInline:hover{
  filter: drop-shadow(0 0 10px rgba(74, 222, 128, 0.75));
  transform: scale(1.02);
}


